.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App{
  min-height: 100%;
}


html, body {
  height: 100%;
  margin: 0;
}

.header-container{
  padding: 0 240px;
}
.root{
  height: 100%;
}
.App{
  background: linear-gradient(to bottom, #f8f7fe, #c0aaf6);
  
}
.navbar{
  padding: 0;
  
}

.navbar a{
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;  color: #1e1e1e;
}
.navbar a:hover{
 color: rgb(60, 10, 196);
}
.navbar a:hover i{
  transform: rotate(180deg);
  transition: 0.3s ;
  
 }

.hide-menu{
  display: none;
}

.display-menu{
  display: block!important;
  position: absolute;
  background-color: wheat;

 }

.banner{
  margin-top: 84px;
  padding: 0 50px;
}
#bannerfoto{
  border-radius: 15px;
}

.banner-content-subtitle {
  color: #0A0A0A;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.banner-content-title {
  color: #1E1E1E;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: start;
}

.theme-btn {
  
 
  border-radius: 4px;
  background-color: #f8f4f4 ;
 
  
  display: inline-flex;
  align-items: center;
  height: 50px;
  padding: 0 40px;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
 
  touch-action: manipulation;
  transition: all 0.4s ease 0s;
  white-space: nowrap;
  border: none;
  
  overflow: hidden;
 
}
.theme-btn:hover{
  background-color: #62A0FF!important;color: #fff;
}


.dropdownMenu{
  background-color: #212529;
  position: fixed;
  width: 1300px;
  z-index: 5;
  border-radius: 10px;
  margin: 76px auto 0 auto;
  
}
.dropdownMenu2{
  background-color: white;
  position: fixed;
  width: 200px;
  z-index: 2;
  border-radius: 2px;
  margin:  27px auto 0 auto;
  
}
.submenu{
  border-radius: 0 0 10px 10px;
  min-width: 240px;
  height: auto;
  position: relative;
  text-align: left;
  padding: 12px 0;
  border-radius: 0 0 10px 10px;
  background-color: white;
  box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e6e3f14f;
  transition: opacity 0.4s linear, clip 0.6s linear, visibility 0s 0.4s;
  list-style: none;
  list-style-image: none;
}
.submenu ul li{
  color: #6b7385;
}
.submenu li a
{
  font-weight: 500;
    padding: 10px 20px;
    font-size: 14px;
    display: block;
    color: #6b7385;
    margin: 0 10px;
    border-radius: 3px;
}
.submenu li a:hover{
  background-color: #e6d9d9;
  cursor: pointer;

}
.submenu2{
  left: 100%;
  position: absolute;
  top: 12%;
}
.submenu3{
  left: 100%;
  position: absolute;
  top: 50%;
}
.navbar-brand{
  padding: 0;
}
.scrolled{
  background-color: rgba(255, 255, 255, 0.952);

}

.content{
  padding-top: 50px;
}

.lift-on-hover {
  transition: transform 0.3s ease-in-out;
}

.lift-on-hover:hover {
  transform: translateY(-15px); /* Kartı 5 piksel yukarı kaydır */
}






/* YourComponent.css */

/* Define the scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(233, 223, 223);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(235, 224, 224);
}

.scourseleft {
  background-color: #e747473b;
 
  
}
.scourseleft h6{
  color: rgb(18, 20, 17)!important;
  
}

.scourseleft hr{
   color: rgb(248, 243, 243); 
   border-width: 3px;
   opacity: 1;
}
.txee{
  color: rgb(11, 0, 31);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}



.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}



th, td {
  padding: 3px;
  text-align: left;
}

input {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid black;
  box-sizing: border-box;
}

/* Stil doğum tarihi için */
input[type="date"] {
  width: calc(100% - 16px);
}

.ogrenci{
  color: rgba(0, 0, 0, 0.822);
  font-weight: 500;
  background-color: white;
}

.g-course{
  background-color: rgb(248, 247, 247);
}

.extras-one img:hover{
  scale: 1.06;
  transition: all 0.5s;
}

.extras-two{
  background-color: #f0efed;
}
.extras-two .card{
  background-color: transparent;
  border: none;
}


.extras-three img:hover{
  scale: 1.06;
  transition: all 0.5s;
}

.adminLeft{
  background-color: #ffffff;
}